body{
    margin: 0;
    padding: 0;
    background-image: url(/home/mohamad/Documents/projects/ireporter/ui/static/images/human-567563.jpg);
    background-size: cover;
    background-position: stretch;
    font-family: sans-serif;
}

.landingbox{
    width: 400px;
    height: 350px;
    background: rgba(230, 221, 221, 0.5);
    color: rgb(19, 18, 18);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
 
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: absolute;
    font-size: 22px;
}

.landingbox p{
    margin: 0;
    paddingg: 0;
    font-weight: bold;
}

.landingbox input{
    width: 100%;
    margin-bottom: 20px;
}

.landingbox input[type="text"], input[type="password"]

{ 
    border: none;
    border-bottom: 1px rgb(10, 7, 6);
    background: rgba(14, 13, 13, 0.5);
    outline: none;
    height: 40px;
    color: rgb(238, 235, 235);
    font-size: 16px;
}

.landingbox input[type="submit"]
{ 
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: rgb(241, 228, 228);
    font-size: 18px;
    border-radius: 20px;
}
.landingbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #141313;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}

.landingbox input[type="submit"]:hover
{
    cursor: pointer;
    background: rgba(32, 32, 30, 0.5);
    color: rgb(226, 210, 210);
}
.landingbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}
.landingbox a:hover {
    color: #000;
}
