
* {box-sizing: border-box}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 10, 10, 0.5);
 
}

.navbar {
  width: 100%;
  background-color: rgb(228, 142, 13);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(245, 243, 243);
}

.navbar a.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  
}
  h3 {
      text-align: center;
      font-size: 50px;
  }



.recordbox{
    width: 400px;
    height: 350px;
    background: transparent;
    color: black;
    top: 37%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

 
  h1 {
    font-size: 50px;
  }
  
  p {
    font-size: 25px;
  }