body{
    margin: 0;
    padding: 0;
    background-image: url(/home/mohamad/Documents/projects/ireporter/ui/static/images/bump-collaboration-colleagues-1068523.jpg);
    background-size: cover;
    background-position: stretch;
    font-family: sans-serif:
  
  }
  
  .signinbox{
    width: 320px;
    height: 450px;
    background: rgb(14, 13, 13,0.5);
    color: rgb(216, 223, 226);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: absolute;
    font-size: 22px;
  }
  
  .signinbox p{
    margin: 0;
    paddingg: 0;
    font-weight: bold;
  }
  
  .signinbox input{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .signinbox input[type="text"], input[type="password"]
  
  { 
    border: none;
    border-bottom: 1px rgb(10, 7, 6);
    background: rgba(14, 13, 13, 0.5);
    outline: none;
    height: 40px;
    color: rgb(238, 235, 235);
    font-size: 16px;
  }
  
  .signinbox input[type="submit"]
  { 
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: rgb(241, 228, 228);
    font-size: 18px;
    border-radius: 20px;
  }
  .signinbox input[type="submit"]
  {
    border: none;
    outline: none;
    height: 40px;
    background: #141313;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  
  }
  .form button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(8, 8, 8, 0.5);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
  }
  .signinbox input[type="submit"]:hover
  {
    cursor: pointer;
    background: rgba(32, 32, 30, 0.5);
    color: rgb(226, 210, 210);
  }
  .signinbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
  }
  .signinbox a:hover
  {
    color: #000;
  }
  button {
    width: 250px;
    height: 40px;
    background-color: white;
    
  }